.hamburger {
  justify-content: space-around;
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-flow: column nowrap;
  z-index: 1000;
}
.bars {
  background-color: rgb(255, 255, 255);
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
  z-index: 1000;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    padding-top: 10px;
    margin: 0.2rem 0 0.5rem 4rem;
    z-index: 1000;
  }
}
